<div class="container">
    <div class="row mt-5">
        <div class="col-4">
            <%= image_tag current_user.avatar_url %>
        </div>
        <div class="col-4">
            <ul>
                <li><%= current_user.name %></li>
                <li><%= current_user.email %></li>
                <li><%= current_user.phone_number %></li>
                <li><%= current_user.address %></li>
            </ul>
        </div>
        <div>
            <%= link_to "Edit", edit_user_registration_path %>
        </div>
    </div>
</div>