<div class="container mt-5">
    <ul class="nav nav-pills" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="pill" href="#home">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#menu1">User List</a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="home" class="container tab-pane active"><br>
            <div class="container">
                <div class="row mt-5">                   
                    <div class="col">
                        <ul>
                            <li><%= current_user.name %></li>
                            <li><%= current_user.email %></li>
                            <li><%= current_user.phone_number %></li>
                            <li><%= current_user.address %></li>
                        </ul>
                    </div>
                    <div class="col">
                        <%= link_to "Edit", edit_user_registration_path %>
                    </div>        
                </div>
            </div>
        </div>
        
				<div id="menu1" class="container tab-pane fade"><br>
					<h3>Users List</h3>

					<div class="divTable blueTable">
						<div class="divTableHeading">
							<div class="divTableRow">
								<div class="divTableHead">#</div>
								<div class="divTableHead">Name</div>
								<div class="divTableHead">Email</div>
								<div class="divTableHead">Phone Number</div>
								<div class="divTableHead">Address</div>
								<div class="divTableHead">Action</div>
							</div>
						</div>
						<div class="divTableBody">
							<% if @users.present? %>
								<% @users.each do |user| %>
								
									<%= content_tag :div, class: 'divTableRow', id: dom_id(user) do %>
										<div class="divTableCell"><%= user.id %> </div>
										<div class="divTableCell"><%= user.name %> </div>
										<div class="divTableCell"><%= user.email %> </div>
										<div class="divTableCell"><%= user.phone_number %></div>
										<div class="divTableCell"><%= user.address %></div>
										<div class="divTableCell"> <%= link_to "Edit", edit_user_path(user), remote: true %> </div>
									<% end %>
								
								<% end %>
							<% end %>
						</div>
					</div>
					
        </div>

    </div>
</div>