<div class="row mt-5">
	<div class="col-4">
		<div class="card" style="width: 18rem;">
			<% if @user.avatar_url.present? %>
				<%= image_tag @user.avatar_url %>	
			<% else %>
				<%= image_tag("/NoImageFound.jpg.png") %>
			<% end %>
		</div>
	</div>
	<div class="col-4">
		<table class="table">
			<tbody>
					<tr>
						<th>Name</th>
							<td><%= @user.name %></td>
					</tr>
					<tr>
						<th>Email</th>
						<td><%= @user.email %></td>
					</tr>
					<tr>
						<th>Contact</th>
						<td><%= @user.phone_number %></td>
					</tr>
					<tr>
						<th>Address</th>
						<td><%= @user.address %></td>
					</tr>					
			</tbody>
		</table>
	</div>
	<div class="col-4">		
		<%= link_to "Edit Details", edit_user_registration_path, class: "btn btn-secondary" %>					
	</div>
</div>